.navbar-bg {
    background-color: #000;
}

.navbar-toggler-icon {
    background-image: url("../img/hamburger.svg");
}

.inquire-btn {
    color: #000 !important;
    background-color: #ffba00;
    border-color: #ffba00;
}

.text-white {
    color: #fff !important;
}

.AuthModal .modal-dialog {
    max-width: 1000px;
}

.AuthModal .modal-content {
    border-radius: 50px;
    height: 500px;
    width: 1500px;
    padding: 0px;
}

.AuthModal .modal-body {
    border-radius: 47px;
    height: 100%;
    background-color: #333;
    padding: 0;
}

.AuthModal .modal-body .container,
.AuthModal .modal-body .row {
    height: 100%;
}

.ModalHeading {
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
}
