html, body {
  /* font-family: 'Montserrat', sans-serif !important; */
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebebeb;
  color:#444;
  font-size: 14px;
  overflow-x:hidden;
  /* font-weight: 400; */
}

/* .aboutus-ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: -12px;
  width: 12px;
  height: 9px;
  background-image: url('img/correct sign.svg');
  background-repeat: no-repeat;
  background-position: center;
} */

.tours-height{
  max-height: 345px !important;
}

.large-img {
  width: calc((100% - 8px)/3 * 2);
  height: 345px;
}
