.btn-more {
    background-color: #ffba00;
    border-color: #ffba00;
}

.travel-place {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 600;
    background: #fafafa;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 30px;
}

.work-image {
    position: relative;
}

.work-image img {
    vertical-align: middle;
}

.work-image:hover .overlay {
    bottom: 0;
    height: 100%;
}

.overlay {
    position: absolute;
    text-align: center;
    bottom: 100%;
    left: 0%;
    right: 0;
    background: rgba(35, 111, 151, 0.8);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: all 0.6s ease;
}

.travel-place .overlay_shape .over-btn {
    top: 90%;
    text-decoration: none;
}

.overlay_shape .over-btn {
    position: absolute;
    left: 50%;
    top: 72%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 25px;
    font-weight: 300;
    padding: 2px 14px;
    border-radius: 35px;
    text-transform: capitalize;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    border: 1px solid #fff;
    background: #fff;
    color: #236f97;
}

.overlay_shape .view-all {
    color: #fff;
    bottom: 6px;
    position: absolute;
    line-height: 24px;
    font-weight: 300;
    font-size: 16px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 290px;
}

.overlay_shape .view-all i {
    position: absolute;
    left: 75%;
    top: 55%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    text-align: center;
}

.travel-text h3 {
    color: #444;
    padding-top: 20px;
    text-align: center;
    line-height: 24px;
    font-weight: 400;
    font-size: 24px;
}

.travel-text p {
    color: #777;
    padding-top: 10px;
    text-align: center;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 26px !important;
    padding-bottom: 20px;
}

/* tabs */
#tabs {
    /* background: #007b5e; */
    color: #000;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #000;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: #000;
    font-size: 20px;
}
